<footer class="site-footer">
  <div class="container">
    <div class="footer-content">
      {{!-- Logo and Tagline Column --}}
      <div class="footer-brand">
        {{#if config.footer.showLogo}}
        <a href="/" class="footer-logo">
          {{#if (eq config.logo.type "image")}}
            {{#if config.logo.imageUrl}}
            <img src="{{config.logo.imageUrl}}" alt="{{config.site.name}}" class="logo-image">
            {{else}}
            <span class="logo-text {{#if config.logo.showBorder}}logo-bordered{{/if}}">{{config.logo.text}}</span>
            {{/if}}
          {{else}}
            <span class="logo-text {{#if config.logo.showBorder}}logo-bordered{{/if}}">{{config.logo.text}}</span>
          {{/if}}
        </a>
        {{/if}}
        {{#if config.footer.showTagline}}
        <p class="footer-tagline">{{config.site.tagline}}</p>
        {{/if}}
      </div>

      {{!-- Navigation Columns --}}
      {{#each config.footer.columns}}
      <div class="footer-column">
        <h4 class="footer-column-title">{{title}}</h4>
        <ul class="footer-links">
          {{#each links}}
          <li>
            <a href="{{url}}" {{#if external}}target="_blank" rel="noopener noreferrer"{{/if}}>
              {{label}}
            </a>
          </li>
          {{/each}}
        </ul>
      </div>
      {{/each}}

      {{!-- Social Links --}}
      <div class="footer-social">
        {{#if config.footer.socialLinks.twitter}}
        <a href="{{config.footer.socialLinks.twitter}}" target="_blank" rel="noopener noreferrer" aria-label="Twitter/X" class="social-link">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="currentColor">
            <path d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z"/>
          </svg>
        </a>
        {{/if}}
        {{#if config.footer.socialLinks.linkedin}}
        <a href="{{config.footer.socialLinks.linkedin}}" target="_blank" rel="noopener noreferrer" aria-label="LinkedIn" class="social-link">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="currentColor">
            <path d="M20.447 20.452h-3.554v-5.569c0-1.328-.027-3.037-1.852-3.037-1.853 0-2.136 1.445-2.136 2.939v5.667H9.351V9h3.414v1.561h.046c.477-.9 1.637-1.85 3.37-1.85 3.601 0 4.267 2.37 4.267 5.455v6.286zM5.337 7.433c-1.144 0-2.063-.926-2.063-2.065 0-1.138.92-2.063 2.063-2.063 1.14 0 2.064.925 2.064 2.063 0 1.139-.925 2.065-2.064 2.065zm1.782 13.019H3.555V9h3.564v11.452zM22.225 0H1.771C.792 0 0 .774 0 1.729v20.542C0 23.227.792 24 1.771 24h20.451C23.2 24 24 23.227 24 22.271V1.729C24 .774 23.2 0 22.222 0h.003z"/>
          </svg>
        </a>
        {{/if}}
        {{#if config.footer.socialLinks.facebook}}
        <a href="{{config.footer.socialLinks.facebook}}" target="_blank" rel="noopener noreferrer" aria-label="Facebook" class="social-link">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="currentColor">
            <path d="M24 12.073c0-6.627-5.373-12-12-12s-12 5.373-12 12c0 5.99 4.388 10.954 10.125 11.854v-8.385H7.078v-3.47h3.047V9.43c0-3.007 1.792-4.669 4.533-4.669 1.312 0 2.686.235 2.686.235v2.953H15.83c-1.491 0-1.956.925-1.956 1.874v2.25h3.328l-.532 3.47h-2.796v8.385C19.612 23.027 24 18.062 24 12.073z"/>
          </svg>
        </a>
        {{/if}}
        {{#if config.footer.socialLinks.rss}}
        <a href="/rss.xml" aria-label="RSS Feed" class="social-link">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="currentColor">
            <path d="M6.503 20.752c0 1.794-1.456 3.248-3.251 3.248-1.796 0-3.252-1.454-3.252-3.248 0-1.794 1.456-3.248 3.252-3.248 1.795.001 3.251 1.454 3.251 3.248zm-6.503-12.572v4.811c6.05.062 10.96 4.966 11.022 11.009h4.817c-.062-8.71-7.118-15.758-15.839-15.82zm0-8.18v4.819c12.951.115 23.409 10.627 23.523 23.558h4.477c-.112-15.495-12.635-28.072-28-28.377z"/>
          </svg>
        </a>
        {{/if}}
      </div>
    </div>

    {{!-- Bottom Bar --}}
    <div class="footer-bottom">
      <p class="copyright">{{replacePlaceholders config.footer.copyrightText}}</p>

      <div class="footer-bottom-right">
        {{#if config.footer.showPoweredBy}}
        <p class="powered-by">{{config.footer.poweredByText}}</p>
        {{/if}}

        {{!-- Theme Toggle --}}
        {{#if config.darkMode.enabled}}
        {{> theme-toggle}}
        {{/if}}
      </div>
    </div>
  </div>
</footer>

{{!-- Scripts --}}
<script src="/assets/js/theme.js"></script>
{{#if config.blog.showTableOfContents}}
<script src="/assets/js/toc.js"></script>
{{/if}}
<script src="/assets/js/lightbox.js"></script>
<script src="/assets/js/share.js"></script>
