<nav class="pagination" aria-label="Pagination">
  {{#if pagination.hasPrev}}
  <a href="{{pagination.prevUrl}}" class="pagination-btn pagination-prev" aria-label="Previous page">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <polyline points="15 18 9 12 15 6"></polyline>
    </svg>
    Prev
  </a>
  {{else}}
  <span class="pagination-btn pagination-prev pagination-disabled">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <polyline points="15 18 9 12 15 6"></polyline>
    </svg>
    Prev
  </span>
  {{/if}}

  <span class="pagination-info">
    Page {{pagination.currentPage}} of {{pagination.totalPages}}
  </span>

  {{#if pagination.hasNext}}
  <a href="{{pagination.nextUrl}}" class="pagination-btn pagination-next" aria-label="Next page">
    Next
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <polyline points="9 18 15 12 9 6"></polyline>
    </svg>
  </a>
  {{else}}
  <span class="pagination-btn pagination-next pagination-disabled">
    Next
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <polyline points="9 18 15 12 9 6"></polyline>
    </svg>
  </span>
  {{/if}}
</nav>
